@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans-var.woff2) format('woff2-variations');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-display: swap;
  src: url(/fonts/ibm-plex-sans-var-italic.woff2) format('woff2-variations');
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  src: url(/fonts/ibm-plex-mono.ttf) format('ttf');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-display: swap;
  src: url(/fonts/fira-code.woff2) format('woff2-variations');
}

@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/iosevka-regular.woff2) format('woff2');
}
